html, body {
    margin: 0;
    background-color: black;
    overflow-x: auto;
}

#waveform {
    position: absolute;
    display: flex;
    align-items: baseline;
    height: 200px;
}

.svg1 {
    transform: scaleY(-1);
}

.svg2 {
    position: absolute;
    top: 100px;
}